<div id="header">
  <!-- <app-header-without-nav></app-header-without-nav> -->
  <app-header-with-nav></app-header-with-nav>
</div>

<div id="body" class="container-fluid p-0 m-0 d-flex">
  <!-- <div>
    <app-side-navbar></app-side-navbar>
  </div> -->

  <div id="main" class="">

    <app-start-body></app-start-body>
    <app-text-n-img-1></app-text-n-img-1>
    <app-text-n-img-2></app-text-n-img-2>
    <app-carousel></app-carousel>
    <app-contact-forms></app-contact-forms>
    <app-comment-area></app-comment-area>
    <app-questions-area></app-questions-area>
    <app-text></app-text>


    <div class="footer">
      <app-footer-1></app-footer-1>
    </div>

  </div>
</div>
