#start-body{
  min-height: 100%;
  background-image: url(../../../../assets/bg.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  width: auto;

}

.img-fluid{
  max-width: 100%;
  height: auto;
}

#start-body-img{
  min-width: 768px;
}

@media (max-width:430px){
  #start-body-img{
    min-width: 100vw;
  }
}
