<div id="text-area" class="d-flex justify-content-center align-items-center">

  <div class="titleNtexts d-flex flex-column justify-content-center align-items-center w-100">

    <div class="titulo mb-5">
      <h1 class="">VALORES</h1>
    </div>

    <div class="text-container container mb-5">
      <div class="text-box d-flex flex-column align-items-center" *ngFor="let faq of faqs">
        <p>{{faq.title}}</p>
        <div class="text">
          <div >{{ faq.body }}</div>
        </div>
      </div>
    </div>

  </div>
</div>

