<div id="body-contact-forms" class="d-flex flex-column justify-content-center align-content-center align-items-center">

  <div class="titulo">
    <h1 class="text-light fw-light">ENTRE EM CONTATO</h1>
  </div>

  <form [formGroup]="contactForm" (submit)="submit()" novalidate class="container-fluid contact-form p-5 d-flex flex-column gap-3">

    <div class="form-floating p-1">
      <input  (input)="inputChanged('input_fullname',$event)" type="text" id="fullname" class="form-control" formControlName="fullname" placeholder="">
      <label class="form-label" for="fullname">Nome Completo</label>
      <div *ngIf="inputValues['input_fullname'] !== ''">
      <p *ngIf="contactForm.get('fullname')?.hasError('pattern')">Informe um nome válido/p>
      </div>
    </div>

    <div class="form-floating p-1">
      <input (input)="inputChanged('input_phoneNumber',$event)" type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber" placeholder="">
      <label class="form-label" for="phoneNumber">Telefone</label>
      <div *ngIf="inputValues['input_phoneNumber'] !== ''">
        <p *ngIf="contactForm.get('phoneNumber')?.hasError('required')">Informe seu número</p>
        <p *ngIf="contactForm.get('phoneNumber')?.hasError('pattern')">Invalid phoneNumber</p>
      </div>
    </div>

    <div class="form-floating p-1">
      <input (input)="inputChanged('input_email',$event)" type="email" id="email" class="form-control" formControlName="email" placeholder="">
      <label class="form-label" for="email">E-mail</label>
      <div *ngIf="inputValues['input_email'] !== ''">
        <p *ngIf="contactForm.get('email')?.hasError('required')">Informe e-mail</p>
        <p *ngIf="contactForm.get('email')?.hasError('email')">Informe um e-mail válido</p>
      </div>
    </div>

    <p class="pb-0 mb-0 ps-4">Mensagem:</p>
    <div class="form-floating p-1 mt-0 pt-0">
      <textarea type="text" id="messageToSend"  class="form-control" formControlName="messageToSend" placeholder="">
      </textarea>
    </div>

    <div class="form-check p-1 ms-4 d-flex justify-content-end">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"  formControlName="termos">
      <label class="form-check-label text-light" for="flexCheckDefault">
        &nbsp;Aceito os termos de uso.
      </label>
    </div>

    <div class=" w-100 d-flex justify-content-center">
      <input id="submit" type="submit" value="Submit" class="btn btn-primary text-dark py-3 px-5 mt-2 mb-3" [disabled]="contactForm.invalid">
    </div>
  </form>

</div>
