<div id="side-navbar" class="d-flex flex-column justify-content-center">
  <div class="p-0 m-0">
    <nav class="p-0 m-0">
      <ul class="d-flex flex-column align-items-center justify-content-evenly p-0 pe-3 mb-0">
        <li>
          <a href="#">
            HOME
          </a>
        </li>
        <li>
          <a href="#">
            SOBRE NÓS
          </a>
        </li>
        <li>
          <a href="#">
            PLANOS
          </a>
        </li>
        <li>
          <a href="#">
            BLOG
          </a>
        </li>
        <li>
          <a href="#">
            CONTATO
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<div>
  <button (click)="toggleSideNavabar()" class="fa-solid fa-angle-left" type="button" name="openCloseBtn" id="openCloseBtn"></button>
</div>
