<div id="textNimg-1" class="d-flex container-fluid">

  <div id="content1" class="container">

    <div class="row">

      <div id="textNimg1_content1" class="col-md-6">
        <div class="box d-flex align-items-center me-md-4">
          <img src="/assets/img1.png" alt="Image 1" class="img-fluid ml-3">
          <div class="imgTxt">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempore consequatur vero ipsam libero explicabo officia minus quo accusantium placeat? Fugit, non. Itaque laborum esse quis veritatis aspernatur nemo odio. Eaque itaque recusandae a velit, maxime accusamus fuga aliquam in?</p>
          </div>
        </div>
      </div>

      <div id="textNimg1_content2" class="col-md-6">
        <div class="box d-flex align-items-center">
          <img src="/assets/img2.png" alt="Image 2" class="img-fluid ml-3">
          <div class="imgTxt">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempore consequatur vero ipsam libero explicabo officia minus quo accusantium placeat? Fugit, non. Itaque laborum esse quis veritatis aspernatur nemo odio. Eaque itaque recusandae a velit, maxime accusamus fuga aliquam in?</p>
          </div>
        </div>
      </div>

      <div id="textNimg1_content3" class="col-md-6">
        <div class="box d-flex align-items-center me-md-4">
          <img src="/assets/img3.png" alt="Image 3" class="img-fluid ml-3">
          <div class="imgTxt">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempore consequatur vero ipsam libero explicabo officia minus quo accusantium placeat? Fugit, non. Itaque laborum esse quis veritatis aspernatur nemo odio. Eaque itaque recusandae a velit, maxime accusamus fuga aliquam in?</p>
          </div>
        </div>
      </div>

      <div id="textNimg1_content4" class="col-md-6">
        <div class="box d-flex align-items-center">
          <img src="/assets/img4.png" alt="Image 4" class="img-fluid ml-3">
          <div class="imgTxt">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempore consequatur vero ipsam libero explicabo officia minus quo accusantium placeat? Fugit, non. Itaque laborum esse quis veritatis aspernatur nemo odio. Eaque itaque recusandae a velit, maxime accusamus fuga aliquam in?</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
