<div id="footer-1" class="container-fluid">
  <div class="footer-1st-part align-items-center pt-3 pb-3">


    <div class="logo col-2 ps-4 ms-2">
      <img src="/assets/logo.png" height="76.75" width="109.75" alt="">
    </div>

    <div class="footer-nav d-flex pt-3 m-0">
      <ul class="">
        <li class="nav-item me-4">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">SOBRE NÓS</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">PLANOS</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">CONTATO</a>
        </li>
      </ul>
    </div>

    <div class="social-links w-100 d-md-flex justify-content-end pe-lg-4">

      <a href="#" target="_blank" class="footer_social-link">
        <i class="ri-instagram-line"></i>
      </a>

        <a href="#" target="_blank" class="footer_social-link">
          <i class="ri-facebook-circle-line"></i>
        </a>

        <a href="#" target="_blank" class="footer_social-link">
          <i class="ri-whatsapp-line"></i>
        </a>
    </div>

  </div>

  <div class="d-flex justify-content-between border-top border-2 border-black ps-5 pe-5 pt-3 pb-3">
    <span class="footer-copy">
      &#169; 2024 - EXPLORER AI. TODOS OS DIREITOS RESERVADOS
    </span>

    <div class="terms">
      <a href="#" class="footer-terms">TERMOS E POLÍTICAS</a>
    </div>
  </div>

</div>
